* {
  box-sizing: border-box;
  
}

/* Some default document settings. */
body {
	color: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 30px;
	text-align: left;
	text-shadow:3px -1px 0 #fff
	/* Set width to 1200 instead of 960 for better layout (in my humble opinion). */
	width: 500px;
	height: 315px;
}
section	{
	background-color: #ffffff00;
	float: center;
	color: #ffffff;
	border: 2px solid #000000;
	width: 500px;
	height: 315px;
}
.inputbox1{
	position: fixed;
	left:20px;
	width: auto;
	height: auto;
	padding: 10px;
}
.inputbox2{
	position: fixed;
	left:280px;
	width: auto;
	height: auto;
	padding: 10px;
}
.content {
	position: fixed;
	background: rgba(0, 0, 0, 0.1);
	color: #f1f1f1;
	width: 500px;
	height: 315px;
	padding: 20px;
}
.answer{
	background-color: black;
	text-align: center;
	font-size: 20px;
	border: 2px solid #000000;
	height:50px;
}
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  left: 0; 
  top: 0;
  width: 500px;
  height: 315px;
  z-index: -100;
}